.cont {
  display: flex;
  height: 80vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-cont {
  margin-top: 5rem;
  display: flex;
}

.img1 {
  margin-right: 15rem;
  margin-bottom: 10rem;
}

img {
  width: 300px;
}

.opa {
  opacity: 0;
  width: 10px;
}
.header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 370px;
  height: 10px;
  background: #fff;
  color: #000;
}
.header .logo {
  font-family: Bitter, serif;
  font-size: 30px;
  padding: 12px 0;
  font-weight: 700;
  text-align: center;
}
.footer .subhankar {
  color: #000;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  padding-top: 2px;
}
.footer .subhankar a {
  text-decoration: none;
  color: #5844a0;
}
.center {
  text-align: center;
  width: 100%;
}
.fas{
  cursor: pointer;
  color: black;
}
